 .u-section-1 {
  min-height: 1117px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 755px);
  height: 722px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -707px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 784px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px 8px;
}

.u-section-1 .u-shape-2 {
  width: 138px;
  height: 720px;
  margin: -14px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 359px;
  height: 466px;
  margin: -602px 43px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 810px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-line-1 {
  width: 626px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 3px;
  font-size: 1rem;
  font-style: normal;
  line-height: 2;
  text-transform: none;
  font-weight: normal;
  animation-duration: 1000ms;
  margin: 15px 30px 0;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
  background-image: none;
  border-style: none;
  margin: 145px auto 0 30px;
  padding: 11px 67px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 979px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 755px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 736px;
    background-position: 50% 50%;
    background-size: auto 110%;
  }

  .u-section-1 .u-shape-2 {
    width: 120px;
    height: 721px;
    margin-top: -15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 736px;
  }

  .u-section-1 .u-line-1 {
    width: 517px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 433px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 851px;
  }

  .u-section-1 .u-image-1 {
    height: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 851px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-line-1 {
    width: 396px;
  }

  .u-section-1 .u-text-1 {
    letter-spacing: 2px;
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 736px;
    order: 1;
  }

  .u-section-1 .u-image-1 {
    height: 690px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 397px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 430px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
}