.u-section-1 .u-sheet-1 {
  min-height: 567px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 40px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 516px;
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 0;
}

.u-section-1 .u-shape-1 {
  background-image: none;
  height: 451px;
  width: 451px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: -379px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 426px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -12px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 36px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-1 .u-shape-1 {
    height: 360px;
    width: 360px;
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -325px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 44px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 21px;
    margin-left: 79px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -317px;
    margin-right: 11px;
    margin-left: -11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 339px;
  }

  .u-section-1 .u-shape-1 {
    height: 340px;
    width: 340px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -307px;
    margin-left: 0;
    margin-right: 0;
  }
}