.u-section-1 .u-sheet-1 {
  min-height: 1891px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 694px;
  background-image: none;
  margin: 7px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1457px;
  background-image: linear-gradient(#b29a36, #e0e5eb);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1397px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 541px;
  min-height: 1357px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 5px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 51px 100px 0 103px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 24px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 159px 114px 0 33px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 13px 120px 0 27px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 60px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 100px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -1448px 44px 0 707px;
}

.u-section-1 .u-image-1 {
  width: 390px;
  background-image: url("images/activity3.jpeg");
  height: 390px;
  margin: 29px 44px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 8px 30px 30px;
}

.u-section-1 .u-image-2 {
  width: 382px;
  background-image: url("images/activity2.jpeg");
  height: 382px;
  margin: 340px 39px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 338px;
  height: 338px;
  margin: -720px 83px 521px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1892px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 541px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 2034px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1357px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1377px;
    margin-bottom: -20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 61px;
    margin-right: 143px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 8px;
    margin-right: 143px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 677px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 36px;
    padding-right: 36px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -1986px;
    margin-right: -15px;
    margin-left: 565px;
  }

  .u-section-1 .u-image-1 {
    width: 365px;
    min-height: 300px;
    margin-top: 27px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    width: 374px;
    min-height: 278px;
    margin-top: 433px;
    margin-right: -9px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 27px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -677px;
    margin-right: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2004px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: -15px;
    min-height: 1372px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 5px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 137px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -649px;
    margin-right: 326px;
    margin-left: 114px;
  }

  .u-section-1 .u-image-1 {
    width: 265px;
    margin-top: 300px;
    margin-right: auto;
    margin-left: 114px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 8px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 222px;
    margin-top: 7px;
    margin-right: 179px;
  }

  .u-section-1 .u-image-3 {
    width: 214px;
    height: 214px;
    margin-top: -246px;
    margin-right: auto;
    margin-left: 81px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 15903px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 13535px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 143px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 795px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -747px;
    margin-right: 260px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 250px;
    margin-left: 0;
    min-height: 180px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -406px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 10274px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 8522px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 52px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 501px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -488px;
    margin-right: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 192px;
    margin-top: 169px;
    margin-right: -22px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    min-height: 340px;
    margin-right: 118px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 8px;
    margin-bottom: 9px;
    margin-left: 81px;
  }
}